# Copyright (c) 2023 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

# https://git-scm.com/docs/gitignore

# Zephyr
build*/
.cache

# Golioth
credentials.conf

# Python
__pycache__/

# VS Code
.vscode/*
!.vscode/extensions.json
